[Unit]
Description=UPS daemon
ConditionPathExists=/etc/ups-daemon.conf
After=network.target

[Service]
ExecStart=/usr/local/sbin/ups-daemon
PIDFile=/run/ups-daemon.pid
Restart=always
RestartSec=30
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
